@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Established in 2014 by a husband and wife team of ice-cream fanatics, 
    Dragon Scoops has pledged to bring local, farm-fresh ingredients to the customer. 
    We make every effort to use only suppliers pledged to sustainable farming methods -
     even our napkins are 100% post-consumer waste.</p> 
<p>Artisan ice cream at reasonable prices doesn't have to be a myth!</p>
