@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Dragon Scoops Way<br />
    Somewhere, OH 44212<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@dragonscroops.com">Support@dragonscroops.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@dragonscroops.com">Marketing@dragonscoops.com</a>
</address>