@{
    ViewBag.Title = "Dragon Scoops";
}
<div class="container background">
<div class="jumbotron rounded" style="background-color:pink; opacity: 0.9;">
    <h1>Dragon Scoops</h1>
    <p class="lead">At Dragon Scoops we strive to be the best friendly, neighborhood artisan ice cream shop you've ever encountered. We're so good, we're mythical!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row" >
    <div class="col-md-4" style="background-color:aqua; opacity: 0.8;">
        <h2>Locally Sourced</h2>
        <p>
            Here at Dragon Scoops we source only the freshest milk, cream, eggs, and other delicious ingredients. We never skimp! It costs a little bit extra, because we go the extra mile.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4" style="background-color:pink; opacity: 0.8;">
        <h2>Rotating Flavor List</h2>
        <p>Since we get the freshest Ohio ingredients, our flavor list constantly rotates based on the fruits in season. But don't worry! Your favorites will be back - or you will find a new favorite! Have a suggestion? Let us know!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4" style="background-color:aqua; opacity: 0.8;">
        <h2>Catering/Delivery</h2>
        <p>Enjoy one of our two locations - we have a party room you can book for your event, with seating for up to twenty! We've also teamed up with Uber to deliver ice cream right to your door!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <!-- START THE FEATURETTES -->
    <div class="container" style="background-color: pink;">
        <div class="col-md-12">
            <hr class="featurette-divider col-md-12" style="visibility:hidden;">
        </div>

    <hr class="featurette-divider">
 
    <div class="row featurette">

        <div class="col-md-7">
            <h2 class="featurette-heading">Farm Fresh. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="~/Content/Images/cones2.jpg" alt="Ice Cream Cones" style="min-height: 200px;">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="~/Content/Images/Barons_Ice_Cream.jpg" alt="Kids Love Ice Cream">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">We even cater. <span class="text-muted">Party Time!</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="~/Content/Images/raspberry.jpg" alt="Fresh Raspberry Ice Cream" style="min-height: 250px;">
        </div>
    </div>

    <hr class="featurette-divider">
        </div>
    <!-- /END THE FEATURETTES -->
</div>
</div>