@{
    ViewBag.Title = "Dragon Scoops";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<div class="container background">
<div class="jumbotron rounded" style="background-color:pink; opacity: 0.9;">
    <h1 class="scoopFont">Dragon Scoops</h1>
    <div class="container">
        <div class="col-md-8">
            <p class="lead">At Dragon Scoops we strive to be the best friendly, neighborhood artisan ice cream shop you've ever encountered. We're so good, we're mythical!</p>
            <p><a href="http://localhost:50965/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>
        <div class="container col-md-4">
            <img src="~/Content/Images/healthy-berry-ice-cream.jpg" class="img-responsive" alt="Ice cream" ;" />
        </div>         
    </div>
</div>

<div class="row" >
    <div class="col-md-4" style="background-color:aqua;">
        <h2>Locally Sourced</h2>
        <p>
            Here at Dragon Scoops we source only the freshest milk, cream, eggs, and other delicious ingredients. We never skimp! It costs a little bit extra, because we go the extra mile.
        </p>
        <p><a class="btn btn-default" href="http://localhost:50965/Home/About.cshtml">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4" style="background-color:pink;">
        <h2>Rotating Flavor List</h2>
        <p>Since we get the freshest Ohio ingredients, our flavor list constantly rotates based on the fruits in season. But don't worry! Your favorites will be back soon - or you will find a new favorite! Have a suggestion? Feel free to contact us!</p>
        <a href="~/Views/FlavorsModels/Index.cshtml" class="btn btn-default" role="button" >Learn More &raquo;</a>
    </div>
    <div class="col-md-4" style="background-color:aqua;">
        <h2>Catering/Delivery</h2>
        <p>Enjoy one of our two locations - we have a party room you can book for your event, with seating for up to twenty! We've also teamed up with Uber to deliver ice cream right to your door!</p>
        <p><a class="btn btn-default" href="~/Views/FlavorsModels/Index.cshtml">Contact Us &raquo;</a></p>
    </div>
</div>
    <!-- START THE FEATURETTES -->
    <div class="container" style="background-color: pink;">
        <div class="col-md-12">
            <hr class="featurette-divider col-md-12" style="visibility:hidden;">
        </div>

    <hr class="featurette-divider">
 
    <div class="row featurette">

        <div class="col-md-7">
            <h2 class="featurette-heading scoopFont">Farm Fresh. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="~/Content/Images/cones2.jpg" alt="Ice Cream Cones" style="min-height: 200px;">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading scoopFont">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="~/Content/Images/Barons_Ice_Cream.jpg" alt="Kids Love Ice Cream">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading scoopFont">We even cater. <span class="text-muted">Party Time!</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="~/Content/Images/raspberry.jpg" alt="Fresh Raspberry Ice Cream" style="min-height: 250px;">
        </div>
    </div>

    <hr class="featurette-divider">
        </div>
    <!-- /END THE FEATURETTES -->
    
</div>
</div>