body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.background {
    background-image: url('Images/pattern.jpg');
}
.rounded {
    border-radius: 16px;
}
.parlour {
    background-image: url('Images/NaturalsParlour.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.dragonCone {
    background-image: url('Images/nycterisa.jpg');
    background-repeat: no-repeat;
    max-height: 250px;
    border-radius: 10px;
}
.navDrop {
    margin-top: 0px;
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: aqua;
}