
<head>
@model IEnumerable<IceCream.Models.ClubModel>

@{
    ViewBag.Title = "Calendar";
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/fullcalendarjs")
}
    <link href="~/Content/fullcalendar.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.11.js"></script>
    <script src="~/Scripts/fullcalendar.js"></script>
    <link href="~/Content/CustomNavbar.css" rel="stylesheet" />

    <script>

        $(document).ready(function () {
            $('#calendar').fullCalendar({
                theme: true,
                header: {
                    left: 'prev',
                    center: 'title',
                    right: 'next'
                },
                defaultView: 'month',
                editable: false,
                events: "/ClubModels/GetEvents/"
            });
        });
       
    </script>
</head>



<body>
    <h2>Calendar of Events</h2>
    <div id="calendar" style="width:65%"></div>
</body>